In [4]:
# use list comprehention and glob to create one db from many
# works because he each db has the same columns
# df = pd.concat([pd.read_csv(x) for x in glob.glob('data/Kickstarter*.csv')], ignore_index = True)
# found a better way using url
url = 'https://raw.githubusercontent.com/SaraWestWA/DS-Unit-3-Sprint-2-SQL-and-Databases/master/clean_kickstart_data.csv'
df1 = pd.read_csv(url)

In [5]:
df1.head(2)

,country,deadline,goal,id,launched_at,name,success,category,subcategory,campaign_length
0,US,1583025192,3000.0,1568973024,1580433192,Revisionist History 2,1,Dance,Performances,30.0
1,US,1450118057,20000.0,1782378629,1447526057,JinBucha: A Modern Kombucha tasting room in No...,0,Food,Drinks,30.0

In [6]:
df1.columns

Index(['country', 'deadline', 'goal', 'id', 'launched_at', 'name', 'success',
       'category', 'subcategory', 'campaign_length'],
      dtype='object')

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179467 entries, 0 to 179466
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   country          179467 non-null  object
 1   deadline         179467 non-null  int64
 2   goal             179467 non-null  float64
 3   id               179467 non-null  int64
 4   launched_at      179467 non-null  int64
 5   name             179467 non-null  object
 6   success          179467 non-null  int64
 7   category         179467 non-null  object
 8   subcategory      179467 non-null  object
 9   campaign_length  179467 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 13.7+ MB

In [8]:
# check for duplicates of individual projects
dup_id = len(df[df.duplicated(subset='id')])
print(f"There are {dup_id} ids listed more than once.")

There are 0 ids listed more than once.

In [9]:
# Choose cutoffs based on unix time
cutoff1 = 1466003000
cutoff2 = 1530120000

test1 = df1[df1['launched_at']>=cutoff2]
train1 = df1[df1['launched_at']<cutoff2]
val1 = train1[train1['launched_at']>cutoff1] 
train1 = train1[train1['launched_at']<=cutoff1]


print(train1.shape)
print(val1.shape)
print(test1.shape)

NameError: name 'df1' is not defined